# HwBinder IPC from client to server
set_prop(hal_mlipay_default, vendor_payment_security_prop)
set_prop(hal_mlipay_default, vendor_tee_listener_prop)
